Company/Service References/SvcRefVendor/WsServiceCatalog1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Supplier_1.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Supplier_1.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="gsDatetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gsImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gsPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="gsQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="gsStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gssID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gssLongDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gssName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gssShortDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gssTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="gsvendorID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
</xs:schema>