Company/Service References/ServiceReference1/WsServiceCatalog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsServiceCatalog" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50785/WsServiceCatalog.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50785/WsServiceCatalog.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50785/WsServiceCatalog.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsServiceCatalog_getAllService_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllService" />
  </wsdl:message>
  <wsdl:message name="IWsServiceCatalog_getAllService_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IWsServiceCatalog_SelectInvoiceDate_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectInvoiceDate" />
  </wsdl:message>
  <wsdl:message name="IWsServiceCatalog_SelectInvoiceDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectInvoiceDateResponse" />
  </wsdl:message>
  <wsdl:message name="IWsServiceCatalog_SelectInvoiceDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectInvoiceDetails" />
  </wsdl:message>
  <wsdl:message name="IWsServiceCatalog_SelectInvoiceDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectInvoiceDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsServiceCatalog">
    <wsdl:operation name="getAllService">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsServiceCatalog/getAllService" message="tns:IWsServiceCatalog_getAllService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsServiceCatalog/getAllServiceResponse" message="tns:IWsServiceCatalog_getAllService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectInvoiceDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsServiceCatalog/SelectInvoiceDate" message="tns:IWsServiceCatalog_SelectInvoiceDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsServiceCatalog/SelectInvoiceDateResponse" message="tns:IWsServiceCatalog_SelectInvoiceDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectInvoiceDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsServiceCatalog/SelectInvoiceDetails" message="tns:IWsServiceCatalog_SelectInvoiceDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsServiceCatalog/SelectInvoiceDetailsResponse" message="tns:IWsServiceCatalog_SelectInvoiceDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsServiceCatalog" type="tns:IWsServiceCatalog">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllService">
      <soap:operation soapAction="http://tempuri.org/IWsServiceCatalog/getAllService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectInvoiceDate">
      <soap:operation soapAction="http://tempuri.org/IWsServiceCatalog/SelectInvoiceDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectInvoiceDetails">
      <soap:operation soapAction="http://tempuri.org/IWsServiceCatalog/SelectInvoiceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsServiceCatalog">
    <wsdl:port name="BasicHttpBinding_IWsServiceCatalog" binding="tns:BasicHttpBinding_IWsServiceCatalog">
      <soap:address location="http://localhost:50785/WsServiceCatalog.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>